.block {
  @extend .u-containerBlock;
}

.title {
  @extend .u-pageTitle;
}

.component {
  @extend .u-container;

  &-summary {
    margin-bottom: $padding-large-horizontal;
  }

  &-userInfo {
    margin-bottom: $padding-large-horizontal;
  }

  &-billing {
    margin-bottom: $padding-large-horizontal;
  }

  &-control {
    margin: -$padding-large-horizontal;
    margin-top: $padding-large-horizontal;
  }
}
