.u-listUnstyled {
  padding: 0;
  list-style: none;
}

ul.u-simpleList {
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  & > li {
    display: inline-block;
    padding: 0 $padding-small-horizontal;
  }

  & > li:first-child {
    margin-left: -$padding-small-horizontal;
  }
  & > li:last-child {
    margin-right: -$padding-small-horizontal;
  }
}

.u-pageTitle {
  font-size: $font-size-h4;
  padding: $padding-small-horizontal $padding-large-horizontal;
  background: $c-primaryBackground;
  color: $c-messageboxBackground;
}

.u-containerBlock {
  background: $c-contentBackground;
}

.u-container {
  padding: $padding-large-horizontal;
}
