.u-listUnstyled {
  padding: 0;
  list-style: none;
}

ul.u-simpleList {
  padding: 0;
  list-style: none;

  & > li {
    display: inline-block;
    padding: 0 $padding-small-horizontal;
  }

  & > li:first-child {
    margin-left: -$padding-small-horizontal;
  }
  & > li:last-child {
    margin-right: -$padding-small-horizontal;
  }
}

.u-pageTitle {
  font-size: $font-size-h4;
  padding: $padding-small-horizontal $padding-large-horizontal;
  background: $c-black-2;
  color: $c-white;
}

.u-containerBlock {
  background: $c-gray;
}

.u-container {
  padding: $padding-large-horizontal;
}
