$header-itemHeight: 34px;

/**
 * Font size
 */
$f-baseSize: $font-size-base;
$f-largeSize: $font-size-large;
$f-smallSize: $font-size-small;

$f-h1Size: $font-size-h1;
$f-h2Size: $font-size-h2;
$f-h3Size: $font-size-h3;
$f-h4Size: $font-size-h4;
$f-h5Size: $font-size-h5;
$f-h6Size: $font-size-h6;

/**
 * Font weight
 */
$f-headingsWeight: 600 !default;
$f-textWeight: 400;

/**
 * Colors
 */
$c-gray: #eee;
$c-gray-1: lighten($c-gray, 2%);
$c-gray-2: lighten($c-gray, 4%);

$c-black: #000;
$c-black-1: lighten($c-black, 10%);
$c-black-2: lighten($c-black, 20%);
$c-black-3: lighten($c-black, 30%);

$c-white: #fff;
$c-white-1: darken($c-white, 10%);
$c-white-2: darken($c-white, 20%);
$c-white-3: darken($c-white, 30%);

$c-green: $brand-success;
$c-green-1: darken($c-green, 10%);
$c-green-2: darken($c-green, 20%);
$c-green-3: darken($c-green, 30%);

$c-blue: $brand-primary;
$c-blue-1: darken($c-blue, 10%);
$c-blue-2: darken($c-blue, 20%);
$c-blue-3: darken($c-blue, 30%);

$c-linkColor: $c-blue !default;
$c-linkHoverColor: darken($c-linkColor, 15%) !default;

$c-blackTransparent: rgba(0, 0, 0, 0.7);
$c-blackTransparent-1: rgba(0, 0, 0, 0.6);
$c-blackTransparent-2: rgba(0, 0, 0, 0.5);

$c-text-1: #282f33;
$c-text-2: lighten($c-text-1, 30%);
$c-text-3: lighten($c-text-1, 50%);

/**
 * Main theme colors
 */
$c-primaryBackground: #f2640c;
$c-secondaryBackground: #7bb661;
$c-contentBackground: #fff;
$c-bodyBackground: #eee;
$c-messageboxBackground: #fef2dc;
$c-footerBackground: #b6bbbd;
$c-bodyBackground-1: lighten($c-bodyBackground, 4%);

$c-success: $brand-success;
$c-info: $brand-info;
$c-warning: $brand-warning;
$c-danger: $brand-danger;
