$bootstrap-sass-asset-helper: "~bootstrap-sass/assets/fonts/" !default;
@import './bootstrap/bootstrap';
@import '../../../node_modules/react-image-slider/lib/image-slider.css';
@import './vendor/ReactImageSlider';

@import './variables.scss';
@import './utils.scss';

@import './containers/LayoutContainer';
@import './containers/HomeContainer';
@import './containers/LoginContainer';
@import './containers/ProductsContainer';
@import './containers/ProductViewContainer';
@import './containers/ProductCreateContainer';
@import './containers/CheckoutContainer';
@import './containers/NotFoundContainer';
@import './containers/PagesContainer';
@import './containers/PageCreateContainer';
@import './containers/PageViewContainer';
@import './containers/ConfigContainer';
@import './containers/ConfigNavigationContainer';
@import './containers/ConfigPageCategoriesContainer';
@import './containers/ConfigProductCategoriesContainer';
@import './containers/ProductOptionsContainer';

@import './components/HeaderComponent';
@import './components/HeaderActionsComponent';
@import './components/TopnavbarComponent';
@import './components/IsEmptyComponent';
@import './components/IsLoadingComponent';
@import './components/FooterComponent';
@import './components/SidebarComponent';
@import './components/NotificationComponent';
@import './components/SearchComponent';
@import './components/LoginFormComponent';
@import './components/PageNavLocationComponent';
@import './components/ProductsComponent';
@import './components/ProductPriceComponent';
@import './components/ProductAboutComponent';
@import './components/ProductDetailsComponent';
@import './components/ProductFiltersComponent';
@import './components/ProductFormComponent';
@import './components/ProductOptionsFormComponent';
@import './components/ProductOptionsListComponent';
@import './components/ProductGalleryComponent';
@import './components/CheckoutSummaryComponent';
@import './components/CheckoutUserInfoComponent';
@import './components/CheckoutBillingComponent';
@import './components/CheckoutControlComponent';
@import './components/PaymentOptionComponent';
@import './components/CartDropdownComponent';
@import './components/CartDropdownItemComponent';
@import './components/HomeCategoriesComponent';
@import './components/AlertMessageComponent';
@import './components/SharedFormInputComponent';
@import './components/PagesComponent';
@import './components/PageFormComponent';
@import './components/PageDetailsComponent';
@import './components/ConfigNavigationComponent';
@import './components/ConfigCategoriesComponent';
@import './components/ConfigSubCategoriesComponent';
@import './components/ConfigSidebarComponent';
@import './components/ImagePreviewComponent';
@import './components/ImageUploadComponent';
@import './components/YoutubePlayerComponent';

body {
  background: $c-bodyBackground;
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

input, select, textarea {
  @extend .form-control;
  border-radius: 0;
  box-shadow: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
}

button {
  @extend .btn;
  box-shadow: 0;
  border-radius: 0;
  border: 0;
}

a:hover {
  color: $c-linkHoverColor;
  text-decoration: none;
}

a {
  color: $c-linkColor;
}

.DraftEditor-root {
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
  font-size: $f-baseSize;
  .DraftEditor-editorContainer {
    height: 160px;
  }
}
