{
  "extends": "airbnb",
  "env": {
    mocha: true
  },
  "globals": {
    "Stripe": true,
    "React": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [0],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/no-absolute-path": "off",
    "import/extensions": "off",
    "arrow-parens": "off",
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
