{
  "extends": "airbnb",
  "env": {
    mocha: true
  },
  "globals": {
    "window": true,
    "document": true,
    "React": true,
    "apiEndpoint": true,
    "FileReader": true,
    "API_ENDPOINT": true,
    "APP_TITLE": true,
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [0],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/no-absolute-path": "off",
    "import/extensions": "off",
    "arrow-parens": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "ignore",
    }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
