.HomeCategoriesComponentBlock {
}

.HomeCategoriesComponent {
  @extend .row;
  margin-bottom: -$padding-large-horizontal * 2;

  &-item {
    @extend .col-sm-3;
    margin-bottom: $padding-large-horizontal * 2;

    &-title {
      font-size: $f-h4Size;
      margin-bottom: $padding-large-horizontal;
    }

    &-list > ul {
      @extend .u-listUnstyled;
    }
  }
}
