.FooterComponentBlock {
  background: $c-footerBackground;
  padding: $padding-large-horizontal;
}

.FooterComponent {
  @extend .row;

  &-left {
    @extend .col-sm-9;

    &-title {
      font-weight: $f-headingsWeight;
    }
  }

  &-right {
    @extend .col-sm-3;
    text-align: right;
  }
}
