.block {
  background: $c-black-2;
  padding: $padding-large-horizontal 0;
}

.component {
  @extend .row;
}

.component-left {
  @extend .col-sm-9;
}

.component-right {
  @extend .col-sm-3;
  @extend .hidden-xs;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.logo {
  display: inline-block;
  font-size: $f-h4Size;
  font-weight: $f-h4Size;
  color: $c-secondaryBackground;
  line-height: $header-itemHeight;
  margin-left: $padding-large-horizontal;

  a, a:hover {
    color: $c-white;
    text-decoration: none;
  }
}
