body {
  background: $c-bodyBackground;
  font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

.LayoutContainerBlock {
  @extend .container;
}

.LayoutContainer {
  /*! keep */

  &-header {
    /*! keep */
  }

  &-topnavbar {
    margin-bottom: $padding-large-horizontal;
  }

  &-search {
    margin-bottom: $padding-large-horizontal;
  }

  &-block {
    /*! keep */
  }

  &-footer {
    margin-top: $padding-large-horizontal;
  }
}

.LayoutContainerContent {
  @extend .row;

  &-left {
    @extend .col-sm-9;
  }

  &-right {
    @extend .col-sm-3;

    & > div:not(:last-child) {
      margin-bottom: $padding-large-horizontal;
    }
  }
}
