.PageNavLocationComponentBlock {
}

.PageNavLocationComponent {
  @extend .row;

  &-title {
    @extend .col-sm-7;
  }

  &-content {
    @extend .col-sm-5;
    text-align: right;

    a, a:hover {
      color: $c-messageboxBackground;
    }

    &-item {
      display: inline-block;
      font-size: $f-baseSize;
      padding: 3px 0;
      text-align: right;
    }

    &-item:last-child:after {
      content: "";
    }

    &-item:not(:last-child) {
      margin-right: $padding-small-horizontal;
    }

    &-item::after {
      content: "/";
      margin-left: $padding-small-horizontal;
      display: inline-block;
    }
  }
}
