.AlertMessageComponentBlock {
  background: $c-messageboxBackground;
  padding: $padding-large-horizontal;
}

.AlertMessageComponent {
  &-title {
    @extend .row;
    margin-bottom: $padding-small-horizontal;

    &-left {
      @extend .col-xs-9;
      font-size: $f-h4Size;
    }

    &-right {
      @extend .col-xs-3;
      text-align: right;
      cursor: pointer;
    }

    &-right > button {
      @extend .u-transparentBtn;
      color: $c-primaryText;
    }
  }

  &-content {

  }
}
