.CartDropdownComponentBlock {
  position: fixed;
  z-index: 2;

  &-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid $c-blue;
    margin-left: calc(100% - 50px);
  }

  &-title {
    padding: $padding-small-horizontal;
    background: $c-blue;
    font-weight: $headings-font-weight;
    color: $c-white;
  }

  &-summary {
    padding: $padding-small-horizontal;
    background: $c-blue-1;
    color: $c-white;
  }
}

.CartDropdownComponent {
  padding: $padding-small-horizontal;
  background: $c-blue;
  color: $c-white;
  width: 262px;

  &-item:not(:last-child) {
    margin-bottom: $padding-small-horizontal;
  }
}
