.FooterComponentBlock {
  border-top: 1px solid $c-gray;
  border-bottom: 1px solid $c-gray;
}

.FooterComponent {
  @extend .row;
  margin-top: $padding-large-horizontal;
  margin-bottom: $padding-large-horizontal;

  &-left {
    @extend .col-sm-9;
  }

  &-right {
    @extend .col-sm-3;
    text-align: right;
  }
}
