.HeaderComponentBlock {
  background: $c-black-1;
  padding: $padding-large-horizontal;
}

.HeaderComponent {
  @extend .row;
  color: $c-white;

  &-left {
    @extend .col-sm-9;

    &-title {
      font-size: $font-size-h4;
    }
  }

  &-right {
    @extend .col-sm-3;
    @extend .hidden-xs;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
