.HeaderComponentBlock {
  background: $c-black-2;
  padding: $padding-large-horizontal;
}

.HeaderComponent {
  @extend .row;
  color: $c-white;

  a {
    color: $c-white;
    text-decoration: none;
  }

  a:hover {
    color: $c-white-2;
  }

  &-left {
    @extend .col-sm-9;

    &-title {
      font-size: $f-h4Size;
      font-weight: $f-h4Size;
    }
  }

  &-right {
    @extend .col-sm-3;
    @extend .hidden-xs;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
