.PageNavLocationComponentBlock {
}

.PageNavLocationComponent {
  @extend .row;

  &-title {
    @extend .col-xs-4;
  }

  &-content {
    @extend .col-xs-8;
    text-align: right;

    &-item {
      display: inline-block;
      font-size: $f-baseSize;
      padding: 3px 0;
      text-align: right;
    }

    &-item:last-child:after {
      content: "";
    }

    &-item:not(:last-child) {
      margin-right: $padding-small-horizontal;
    }

    &-item::after {
      content: "/";
      margin-left: $padding-small-horizontal;
      display: inline-block;
    }
  }
}
