.PaymentOptionComponentBlock {
  &-button {
    padding: $padding-small-horizontal $padding-large-horizontal;
    background: $c-secondaryBackground;
    color: $c-white;

    & > a {
      width: 100%;
      text-decoration: none;
      color: inherit;
    }
    & > a:hover {
      color: inherit;
    }
  }
}

.PaymentOptionComponent {
  background: $c-bodyBackground-1;
  padding: $padding-large-horizontal;

  &-title {
    font-weight: $f-headingsWeight;
    margin-bottom: $padding-large-horizontal;
  }

  &-content {
  }
}
