.ProductDetailsComponentBlock {

}

.ProductDetailsComponent {
  &-image {
    margin-bottom: $padding-large-horizontal;
  }

  &-detailsBlock {
    background: $c-bodyBackground-1;
    padding: $padding-large-horizontal;
    margin-bottom: $padding-large-horizontal;
  }

  &-details {
    @extend .row;
    margin-bottom: -$padding-large-horizontal;

    &-item {
      @extend .col-xs-4;
      margin-bottom: $padding-large-horizontal;
    }
  }

  &-description {
  }
}

.ProductDetailsItemComponent {
  &-title {
    font-weight: $f-headingsWeight;
  }
  &-content {
  }
}
