.ProductComponent {
  background: $c-gray;
  margin-bottom: $padding-large-horizontal * 2;
  padding: $padding-large-horizontal;

  &-title {
    font-weight: $headings-font-weight;
    margin-bottom: $padding-large-horizontal;
  }

  &-name {

  }

  &-price {

  }
}
