.ProductAboutComponentBlock {
}

.ProductAboutComponent {
  background: $c-gray-2;
  padding: $padding-large-horizontal;

  &-item {
    &:not(:last-child) {
      margin-bottom: $padding-large-horizontal;
    }

    &-title {
      font-weight: $headings-font-weight;
      margin-bottom: $padding-large-horizontal;
    }

    &-content {
      font-size: $f-smallSize;
    }

    &-content > ul {
      @extend .u-listUnstyled;
    }
  }
}
