.ProductComponent {
  background: $c-gray;
  margin: -$padding-large-horizontal;
  padding: $padding-large-horizontal;

  &-title {
    font-weight: $headings-font-weight;
    margin-bottom: $padding-large-horizontal;
  }

  &-title > a {
  }

  &-image {
    display: block;
    margin-bottom: $padding-large-horizontal;
    height: 140px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  &-price {
    margin-top: $padding-large-horizontal;
  }
}
