.TopnavbarComponentBlock {
  background: $c-gray;
  padding: $padding-small-horizontal $padding-large-horizontal;
  margin-bottom: $padding-large-horizontal;
}

.TopnavbarComponent {
  border-top: 1px solid $c-gray;

  &-nav {
    @extend .u-simpleList;
  }
}
