.TopnavbarComponent {
  border-top: 1px solid $c-gray;
  border-bottom: 1px solid $c-gray;
  margin-top: $padding-small-horizontal;
  margin-bottom: $padding-large-horizontal;
  padding-top: $padding-small-horizontal;
  padding-bottom: $padding-small-horizontal;

  &-nav {
    @extend .u-simpleList;
    padding: 0;
    list-style: none;
  }
}
