.TopnavbarComponentBlock {
  background: $c-contentBackground;
  padding: $padding-small-horizontal $padding-large-horizontal;
  margin-bottom: $padding-large-horizontal;
}

.TopnavbarComponent {
  &-nav {
    @extend .u-simpleList;
  }
}
