<html>
  <head>
    <title>{{ APP_TITLE }}</title>
    <link rel="stylesheet" href="/build/webpack/bundle.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="React Toolbox">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303f9f">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">

  </head>
  <body>
    <div id='root'>
    </div>
    <script type="text/javascript">
      API_ENDPOINT = '{{ API_ENDPOINT }}';
      APP_TITLE = '{{ APP_TITLE }}';
      APP_CURRENCY = '{{ APP_CURRENCY }}';
    </script>

    {% if NODE_ENV === 'production' %}
      <script src="{{vendor.js}}"></script>
      <script src="{{bundle.js}}"></script>
    {% else %}
      <script src="/build/webpack/vendor.js"></script>
      <script src="/build/webpack/bundle.js"></script>
    {% endif %}

    {{process.env}}
  </body>
</html>
