.PageFormComponentBlock {
}

.PageFormComponent {
  &-contactForm {
    margin-bottom: $padding-large-horizontal * 2;

    &-input:not(:last-child) {
      margin-bottom: $padding-base-horizontal;
    }
  }

  &-pageForm {
    margin-bottom: $padding-base-horizontal;

    &-input:not(:last-child) {
      margin-bottom: $padding-base-horizontal;
    }
  }

  &-button {
    width: 100%;
    padding: $padding-small-horizontal $padding-large-horizontal;
    background: $c-secondaryBackground;
    color: $c-white;
    text-align: center;
  }
}
