.block {
  @extend .u-containerBlock;
}

.title {
  @extend .u-pageTitle;
}

.component {
  @extend .u-container;

  & > div:not(:last-child) {
    margin-bottom: $padding-large-horizontal;
  }

  &-productCategories {
    /*! keep */

    &-title {
      font-weight: $f-headingsWeight;
      margin-bottom: $padding-large-horizontal;
    }
  }

  &-pageCategories {
    /*! keep */

    &-title {
      font-weight: $f-headingsWeight;
      margin-bottom: $padding-large-horizontal;
    }
  }
}
