.SidebarComponent {
  background: $c-contentBackground;
  padding: $padding-large-horizontal;

  &-item {
    &:not(:last-child) {
      margin-bottom: $padding-large-horizontal;
    }

    &-title {
      font-weight: $f-headingsWeight;
      margin-bottom: $padding-large-horizontal;
    }

    &-content {
    }

    &-content > ul {
      @extend .u-listUnstyled;
    }
  }
}
