.CheckoutContainerBlock {
  @extend .u-containerBlock;

  &-title {
    @extend .u-pageTitle;
  }
}

.CheckoutContainer {
  @extend .u-container;

  &-summary {
    margin-bottom: $padding-large-horizontal;
  }

  &-userInfo {
    margin-bottom: $padding-large-horizontal;
  }

  &-billing {
    margin-bottom: $padding-large-horizontal;
  }
}
