.LayoutContainerBlock {
  @extend .container;
}

.LayoutContainer {
  &-header {
  }

  &-topnavbar {
    margin-bottom: $padding-large-horizontal;
  }

  &-search {
    margin-bottom: $padding-large-horizontal;
  }

  &-block {

  }

  &-footer {
    margin-top: $padding-large-horizontal;
  }
}

.LayoutContainerContent {
  @extend .row;

  &-left {
    @extend .col-sm-9;
  }

  &-right {
    @extend .col-sm-3;

    & > div:not(:last-child) {
      margin-bottom: $padding-large-horizontal;
    }
  }
}
