.ProductCreateContainerBlock {
  @extend .u-containerBlock;

  &-title {
    @extend .u-pageTitle;
  }
}

.ProductCreateContainer {
  &-block {
    padding: $padding-large-horizontal;
    @extend .row;

    &-full {
      @extend .col-sm-12;
      margin-bottom: $padding-large-horizontal;
      &:empty {
        margin-bottom: 0;
      }
    }

    &-left {
      @extend .col-sm-9;
    }

    &-right {
      @extend .col-sm-3;

      & > div:not(:last-child) {
        margin-bottom: $padding-large-horizontal;
      }
    }
  }

  &-imagesEmpty {
    background: $c-bodyBackground;
    padding: $padding-base-horizontal;
    margin-bottom: $padding-large-horizontal;
  }

  &-images {
    @extend .row;
    margin-bottom: $padding-large-horizontal;

    & > div {
      @extend .col-xs-4;
      margin-bottom: $padding-large-horizontal;
    }
  }

  &-upload {
    margin-bottom: $padding-large-horizontal;
  }
}
