.ProductOptionsContainerBlock {
  @extend .u-containerBlock;

  &-title {
    @extend .u-pageTitle;
  }
}

.ProductOptionsContainer {
  &-block {
    padding: $padding-large-horizontal;
    @extend .row;

    &-full {
      @extend .col-sm-12;
      margin-bottom: $padding-large-horizontal;
      &:empty {
        margin-bottom: 0;
      }
    }

    &-left {
      @extend .col-sm-9;
      div:not(:last-child) { margin-bottom: $padding-base-horizontal; }
    }

    &-right {
      @extend .col-sm-3;

      & > div:not(:last-child) {
        margin-bottom: $padding-large-horizontal;
      }
    }
  }
}
